@use './variables' as *;

:root {
  font-family: $font-sans;
  line-height: 1.5;
  font-weight: 400;
  color: $color-text;
  background: $color-bg;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.app {
  padding: $space-4;
}

code {
  font-family: $font-mono;
  font-size: 0.95em;
}
